body {
    margin: 0;
    background-color: #111;
    overflow: hidden;
}

#grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-item {
    border: 1px solid #111;
    
    /* *** MODIFICA FONDAMENTALE QUI *** */
    /* Abbiamo allungato la durata a 1.2 secondi e aggiunto 'background-color'. */
    /* Ora sia l'opacità che il colore cambieranno con una dissolvenza morbida. */
    transition: opacity 1.2s ease-in-out, background-color 1.2s ease-in-out;
}